<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Campus Bops</title>
    <link rel="stylesheet" href="../css-1/song.css">
</head>

<body>

    <!-- Search Bar -->
    <form class="search" action="/search" method="GET" autocomplete="off">
        <label class="searchLabel" for="song">Song</label>
        <input class="searchBar" id="song" type="text" name="song" required>
        <input class="searchSubmit" type="submit" value="Search by Song">
    </form>

    <!-- List song results from Spotify   -->
    <% for (let i in songs) { %>
        <form class="songResult" method="POST" action="/categories/newSong">
            <h1>SONG:
                <%= songs[i].title; %>
            </h1>
            <h3>ARTIST:
                <%= songs[i].artist; %>
            </h3>
            <h3>ALBUM:
                <%= songs[i].album; %>
            </h3>
            <iframe src="https://open.spotify.com/embed/track/<%= songs[i].songPlayerId.replace(/[" ]+/g, '' ) %>"
                width="300"
                height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

            <!-- ** Sends song info to ROUTES as hidden ** -->
            <input type="text" name="title" value="<%= songs[i].title %>" hidden />
            <input type="text" name="artist" value="<%= songs[i].artist %>" hidden />
            <input type="text" name="album" value="<%= songs[i].album %>" hidden />
            <input type="text" name="songPlayerId" value="<%= songs[i].songPlayerId %>" hidden />
            <input class="addToCategoryBtn" type="submit" value="Add To Category">
        </form>
        <% } %>
</body>

</html>